<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <center><h1>Dog Tracking</h1></center>

    </div>
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <center>
                    <div class="modal-body">
                        <form method="POST">
                            <label>Name</label>
                            <input class="form-control"  name="name"></br>
                            <label>Age</label>
                            <input class="form-control"  name="age"></br>
                            <label>Breed</label>
                            <input class="form-control"  name="breed"></br>
                            <button type="submit" class="btn btn-success center" data-toggle="modal" data-target="#myModal">Add New Dog</button>
                        </form>
                    <div/>
                <center/>
            </div>
        </div>
    </div>
</body>
</html>